.button {
  font: inherit;
  cursor: pointer;
}

.primary{
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
}

.primary:hover,
.primary:active {
  background-color: #510674;
  border-color: #510674;
}

.danger{
  border: 1px solid #720337;
  background-color: #720337;
  color: white;
}

.danger:hover,
.danger:active {
  background-color: #a5024e;
  border-color: #a5024e;
}

.lg {
  padding: 1rem 2rem;
  border-radius: 12px;
}

.sm{
  padding: 0.5rem;
  border-radius: 12px;
}